# Node rules:
.grunt
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

# MkDocs build output
site/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
proximas.txt